In [8]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import preprocessing

In [9]:
df = pd.read_csv("D:/Data science Project/bankruptcy-prevention.csv", sep =';')
#loading data and use seperator for seperate the columns

In [10]:
df

,industrial_risk,management_risk,financial_flexibility,credibility,competitiveness,operating_risk,class
0,0.5,1.0,0.0,0.0,0.0,0.5,bankruptcy
1,0.0,1.0,0.0,0.0,0.0,1.0,bankruptcy
2,1.0,0.0,0.0,0.0,0.0,1.0,bankruptcy
3,0.5,0.0,0.0,0.5,0.0,1.0,bankruptcy
4,1.0,1.0,0.0,0.0,0.0,1.0,bankruptcy
...,...,...,...,...,...,...,...
245,0.0,1.0,1.0,1.0,1.0,1.0,non-bankruptcy
246,1.0,1.0,0.5,1.0,1.0,0.0,non-bankruptcy
247,0.0,1.0,1.0,0.5,0.5,0.0,non-bankruptcy
248,1.0,0.0,0.5,1.0,0.5,0.0,non-bankruptcy
249,1.0,0.0,0.5,0.5,1.0,1.0,non-bankruptcy

In [11]:
df= df.rename({' management_risk': 'management risk',' financial_flexibility':'financial flexibility',' credibility':'credibility',' competitiveness':'competitiveness',' operating_risk':'operating risk',' class':'class'}, axis=1)
df.columns

Index(['industrial_risk', 'management risk', 'financial flexibility',
       'credibility', 'competitiveness', 'operating risk', 'class'],
      dtype='object')

In [12]:
df["class"] = df["class"].replace("bankruptcy",0)
df["class"] = df["class"].replace("non-bankruptcy",1)

In [13]:
df

,industrial_risk,management risk,financial flexibility,credibility,competitiveness,operating risk,class
0,0.5,1.0,0.0,0.0,0.0,0.5,0
1,0.0,1.0,0.0,0.0,0.0,1.0,0
2,1.0,0.0,0.0,0.0,0.0,1.0,0
3,0.5,0.0,0.0,0.5,0.0,1.0,0
4,1.0,1.0,0.0,0.0,0.0,1.0,0
...,...,...,...,...,...,...,...
245,0.0,1.0,1.0,1.0,1.0,1.0,1
246,1.0,1.0,0.5,1.0,1.0,0.0,1
247,0.0,1.0,1.0,0.5,0.5,0.0,1
248,1.0,0.0,0.5,1.0,0.5,0.0,1
249,1.0,0.0,0.5,0.5,1.0,1.0,1

In [14]:
# Converting dataframe into array
data = df.values
data

array([[0.5, 1. , 0. , ..., 0. , 0.5, 0. ],
       [0. , 1. , 0. , ..., 0. , 1. , 0. ],
       [1. , 0. , 0. , ..., 0. , 1. , 0. ],
       ...,
       [0. , 1. , 1. , ..., 0.5, 0. , 1. ],
       [1. , 0. , 0.5, ..., 0.5, 0. , 1. ],
       [1. , 0. , 0.5, ..., 1. , 1. , 1. ]])

In [15]:
# Selecting Target 
X=data[:,0:6]
Y=data[:,6]
print(X.shape,Y.shape)

(250, 6) (250,)

In [16]:
from sklearn.model_selection import train_test_split,cross_val_score

In [17]:
# Data Split
x_train,x_test,y_train,y_test = train_test_split(X,Y,test_size=0.30,random_state=42)
print(x_train.shape,y_train.shape,x_test.shape,y_test.shape)

(175, 6) (175,) (75, 6) (75,)

In [18]:
from sklearn.svm import SVC

In [19]:
svc = SVC(kernel="rbf",C=12,gamma=0.5)
svc.fit(x_train, y_train)
pred_svc = svc.predict(x_test)

In [20]:
import pickle

In [21]:
from pickle import load

In [22]:
file = 'SVC_Model.sav'
pickle.dump(svc, open(file,'wb'))

In [26]:
model=pickle.load(open(r'C:\Users\lokes\OneDrive\Desktop\SVC_Model.sav','rb'))

RFC = svc.predict(x_test)